[defaults]
become = true
become_user = "{{ home_user }}"
inventory = inventory
# Use the Beautiful Output callback plugin for pretty terminal output
stdout_callback = beautiful_output
ansible_python_interpreter = /Users/trisyong/.local/pipx/venvs/ansible/bin/python3
export ANSIBLE_CALLBACK_PLUGINS = /User/trisyong/.dotfiles/ansible_playbooks/tris_macos_playbooks/scripts
